body {
    height: 200vh;
}

.container {
    margin-top: 5rem;
    border: 2px solid black;
}

.box {
    display: inline-block;
    margin: 5px;
    width: 150px;
    height: 150px;
    font-size: 2rem;
    text-align: center;
}

.box-1 {
    background-color: hsl(0, 30%, 50%);
    position: static;
}

.box-2 {
    background-color: hsl(50, 30%, 50%);
    position: relative;
    top: 50px;
    left: -50px;
}

.box-3 {
    background-color: hsl(100, 30%, 50%);
    /* position: absolute; */

}

.box-4 {
    background-color: hsl(150, 30%, 50%);
    position: fixed;
    bottom: 50px;
    left: 5px;
}

.box-5 {
    background-color: hsl(200, 30%, 50%);
    position: sticky;
    top: 10px;

}

.box-6 {
    background-color: hsl(250, 30%, 50%);
}